<style>
#qqq{}

body {
	background-image: url(background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#headerDiv {
	background-color: hsla(30,80%,80%,0.5);
        color: white;
        text-align: center;	
        padding: 1px;
	margin: 5px;
        float: top;
}

#centralDiv {
	width: 53%;
	margin-bottom: 10px;
	margin: auto;
	height: 82%;
}

#userNameDiv {
	font-size: 16px;
	background-color: hsla(30,80%,80%,0.5);
	width: 21%;
	height: 50%;
	float:left;
	padding: 1%;
}

#userNameInput {
	border-style: solid;
	border-width: 2px;
	border-color: #777777;
	background-color: hsla(120,80%,80%,0.8);
	width: 100%;
	font-size: 14px;
	margin-bottom: 3%;
}

#confirmNameButton {
	border-style: solid;
	border-color: #777777; 
	border-width: 2px;
	background-color: hsla(30,80%,80%,0.9);
	font-size: 16px;
	margin-bottom: 20%;
}

#userName {
	margin-top: 2%;
	font-size: 14px;
	width: 100%;
}

#latencyInd {
	margin: 4%;
	float: right;
	height: 10px;
	width: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.coolLat {
	background-color: green;
}

.normalLat {
	background-color: yellow;
}

.badLat {
        background-color: red;
}

#chatBoardDiv {
	margin-left: 1%;
	width: 76%;
	float: left;
}

#chatInDiv {
	float: top;
	background-color: hsla(30,80%,80%,0.5);
	height: 21%;
	padding: 1%;
	margin-top: 1%;
}

#newMsgTextArea {
	resize: none;
	background-color: hsla(30,80%,80%,0);
	border-style: solid;
	border-color: #777777;	
	border-width: 2px;
	width: 100%;
	margin-bottom: 1%;
	padding: 1%;
	height: 74%;
	font-size: 16px;
}

#sendMsgButton {
	border-style: solid;
	border-width: 2px;
	border-color: #777777;
	background-color: hsla(30,80%,80%,0.9);
	text-align: center;
	font-size: 16px;
	width: 16%;
	height: 23%;
}

#chatOutDiv {
	padding: 1%;
	overflow: auto;
	float: top;
	background-color: hsla(120,80%,80%,0.4);
	height: 73%;
}

div.msg {
	
	font-size: 14px;
	margin-bottom: 1%;
	padding: 1%;
	width: 70%;
	border-style: solid;
	border-width: 2px;
	border-color: #777777;
	background-color: hsla(30,80%,80%,0.7);
	
}

div.my {
	float: right;
}

div.notmy {
	float: left;
}

div.msgAuthor {	
	width: 70%;
	float: left;
	font-size: 16px;
}

div.msgText {
	width: 96%;
	margin: 2%;
	float: left;
	font-size: 14px;
}

div.msgTime{
	float:right;
	font-size: 12px;
}

div.msgStatus{
	float: left;
	font-size: 12px;
	font-style: italic;
}

button.msgAction{
	margin-left: 3px;
	font-size: 12px;
	float: right;
	border-color: #777777;
	border-width: 1px;
	border-style: solid;
	background-color: hsla(120,80%,80%,0.5);
	height: 20px;
	width: 20px;
}

div.modifMsgPopUp {
	border-style: solid;
	border-width: 3px;
	border-color: #555555;
	background-color: hsla(120,80%,80%,0.8);
	z-index: 100;
	position: fixed;
	top: 40%;
	left: 40%;
	width: 400px;
	height: 100px;
}

button.modifAction {
	margin-left: 1%;
	border-style: solid;
	border-width: 2px;
	border-color: #777777;
	background-color: hsla(30,80%,80%,0.9);
	text-align: center;
	font-size: 16px;
	width: 20%;
	height: 22%;
}

textarea.modifMsg {
	resize: none;
	background-color: hsla(30,80%,80%,0);
	border-style: solid;
	border-color: #777777;	
	border-width: 2px;
	width: 98%;
	margin: 1%;
	padding: 1%;
	height: 68%;
	font-size: 16px;
}



#footerDiv {
	clear: left;
	padding: 5px;
	margin: 5px;
	background-color: hsla(120,80%,80%,0.4);
	color: white;
	text-align: center;
}
</style> 
